{
	"47": {
		"id": 47,
		"checked": true,
		"title": "Lucy in the Sky with Diamonds",
		"artist": "William Shatner",
		"album": "The Transformed Man",
		"year": 1968,
		"genre": "Novelty",
		"rating": 4,
		"duration": 357877,
		"last_played": "2020-06-14T18:03:24.000Z",
		"date_added": "2006-03-25T00:11:35.000Z",
		"path": "/Users/jim/Music/William Shatner/The Transformed Man/Lucy in the Sky with Diamonds.mp3"
	}
}
