@import '../utilities/variables';

header {
	align-items: center;
	background: $off-black;
	display: flex;
	justify-content: space-between;
	width: 100%;

	section {
		flex: 0 0 auto;
		padding: 16px;
	}
}

#controls {
	align-items: center;
	display: flex;
}

#now-playing {
	flex: 1 1 auto;
}
