@use 'sass:color';
@use '../utilities/variables';

header {
	align-items: center;
	background: variables.$off-black;
	display: flex;
	height: variables.$header-height;
	justify-content: space-between;
	padding: 8px 12px 8px 8px;
	width: 100%;

	& > section {
		flex: 0 0 auto;
	}
}

#controls {
	align-items: center;
	display: flex;
}

#shuffle,
#toggle-queue {
	padding: 16px;
}

.active {
	path {
		fill: variables.$primary;
	}

	&:active,
	&:focus {
		path {
			fill: color.scale(variables.$primary, $lightness: 15%);
		}
	}
}
