@import '../utilities/variables';

header {
	align-items: center;
	background: $off-black;
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	width: 100%;

	& > section {
		flex: 0 0 auto;
		padding: 0 16px;
	}
}

#controls {
	align-items: center;
	display: flex;
}
