@use '../utilities/variables';

.modal {
	background: transparent;
	border: 0;
	color: variables.$white;
	font-size: variables.$font-size;
	padding: 0;

	&:focus {
		box-shadow: none;
	}
}

.modal::backdrop {
	background: rgba(variables.$black, .75);
}

.modal__box {
	max-width: 100%;
	padding: variables.$focus-width;
	width: 800px;
}
