@import '../utilities/variables';

.range {
	flex: 1 1 auto;
	margin: 0 8px;
	position: relative;
}

.range-input {
	-webkit-appearance: none;
	cursor: pointer;
	height: 10px;
	opacity: 0;
	width: 100%;

	&:focus {
		box-shadow: none;
	}
}

.range-slider {
	height: 10px;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 7px;
	width: 100%;
}

.range-slider-before {
	fill: $dark-gray;
}

.range-slider-after {
	fill: $primary;
}
