@import '../utilities/variables';

$textSize: $font-size;
$headerBackgroundColor: $darkest-gray;
$headerTextColor: $white;
$headerBorderColor: transparent;
$headerSeperatorColor: transparent;

$rowBackgroundColor: $black;
$rowAltBackgroundColor: $off-black;
$rowTextColor: $white;
$rowSelectedBackground: $focus-color;
$rowHoverBackground: $dark-gray;
$rowBorderColor: transparent;

@import './node_modules/tabulator-tables/src/scss/tabulator_simple';

$header-height: 68px; // TODO: Calculate this.

.tabulator {
	height: calc(100vh - #{$header-height});
}

.tabulator-row {
	.tabulator-cell {
		padding: 16px;
	}
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
	padding: 16px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
	margin-top: -3px;
	top: 50%;
}

.tabulator .tabulator-header {
	// position: sticky;
	// top: 0;
	// z-index: 1;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
	border-bottom-color: transparent;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
	border-bottom-color: $white;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
	border-top-color: $white;
}
