@use '../utilities/variables';

$volume-height: 200px;
$volume-padding: 16px;
$volume-button-size: 48px;

#volume {
	display: flex;
	position: relative;

	&:focus-within {
		#volume-range {
			box-shadow: 0 0 0 4px variables.$focus-color;
		}
	}

	&.open {
		#toggle-volume {
			&:hover {
				background: transparent;
			}
		}
	}
}

#toggle-volume {
	padding: 16px;
	position: relative;
	z-index: 2;

	&:focus {
		box-shadow: none;
	}
}

#volume-icon {
	height: 16px;
	width: 16px;
}

#volume-range {
	background: variables.$gray;
	border-radius: 32px;
	box-shadow: 2px 2px 8px 0 variables.$shadow;
	height: $volume-height;
	left: variables.$button-margin;
	opacity: 0;
	padding: 8px;
	pointer-events: none;
	position: absolute;
	right: variables.$button-margin;
	top: variables.$button-margin;
	width: $volume-button-size;
	z-index: 1;

	.open &,
	&:focus-within {
		opacity: 1;
		pointer-events: all;
	}
}

#volume-range-input {
	left: -52px;
	position: relative;
	top: 97px;
	width: 136px;
	z-index: 1;
}

#volume-range-svg {
	height: calc(100% - #{$volume-button-size + $volume-padding});
	margin-top: $volume-button-size;
}
