$primary: #3fc;
$focus-color: #0cf;

$black: #000;
$off-black: #111;
$darkest-gray: #1c1c1c;
$dark-gray: #222;
$light-gray: #333;
$off-white: #ddd;
$white: #fff;

$danger: #f00;

$font-size: 20px;
$checkbox-padding: 4px;
$checkbox-background-color: $light-gray;
