.modal {
	background: transparent;
	border: 0;
	color: var(--white);
	font-size: var(--font-size);
	padding: 0;

	&:focus {
		box-shadow: none;
	}
}

.modal::backdrop {
	background: hsl(from var(--black) h s l / 75%);
}

.modal__box {
	max-width: 100%;
	padding: var(--focus-width);
	width: 800px;
}
