:root {
	--primary: #3fc;
	--focus-color: #0cf;
	--focus-width: 4px;
	--focus: 0 0 0 var(--focus-width) var(--focus-color);
	--primary-dark: hsl(from var(--primary) h s calc(l * 0.75));
	--primary-light: hsl(from var(--primary) h s calc(l * 1.15));
	--black: #070707;
	--off-black: #101010;
	--darkest-gray: #1c1c1c;
	--dark-gray: #222;
	--gray: #333;
	--medium-gray: #444;
	--lighter-gray: #999;
	--lightest-gray: #cfcfcf;
	--off-white: #ddd;
	--white: #fff;
	--shadow: #000;
	--danger: #f00;
	--font-size: 18px;
	--checkbox-padding: 4px;
	--checkbox-background-color: var(--gray);
	--header-height: 100px;
	--button-margin: 4px;
	--cell-padding: 12px;
	--tab-background: var(--dark-gray);
	--tab-border-color: var(--gray);
	--tab-border-style: solid;
	--tab-border-width: 1px;
	--tab-padding: 32px;
	--rating-size: 20px;
	--volume-height: 200px;
	--volume-padding: 16px;
	--volume-button-size: 48px;
}
