$rating-size: 20px;

.rating-cell {
	display: flex;
}

.rating {
	height: $rating-size;
	position: relative;
	width: $rating-size;

	svg {
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
	}

	input {
		appearance: none;
		cursor: pointer;
		height: $rating-size;
		margin: 0;
		width: $rating-size;
	}
}
