@import '../../utilities/variables';

.sortable-header__button {
	display: flex;
	justify-content: space-between;
	margin: -16px;
	text-align: left;
	width: calc(100% + 32px);

	&.desc {
		svg {
			transform: rotate(180deg);
		}
	}

	&:focus {
		background: $focus-color;
		box-shadow: none;
	}
}
