* {
	box-sizing: border-box;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: sans-serif;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

article {
	overflow: auto;
}

button {
	appearance: none;
	background: transparent;
	border: 0;
	color: var(--white);
	cursor: pointer;
	font-size: var(--font-size);
	line-height: 1;
	margin: var(--button-margin);
	padding: 16px;

	&:hover {
		background: #000;
	}

	&[disabled] {
		cursor: auto;
		opacity: 0.5;

		&:hover {
			background: transparent;
		}
	}
}

.button--primary {
	background: var(--primary);
	border-radius: 4px;
	color: var(--black);
	padding: 12px 16px;

	&:hover {
		background: var(--primary-dark);
	}
}

.icon {
	border-radius: 100px;
	font-size: 0;
	height: 48px;
	padding: 12px;
	width: 48px;

	path {
		fill: var(--off-white);
	}

	&:active,
	&:focus {
		path {
			fill: var(--white);
		}
	}
}

:focus {
	box-shadow: var(--focus);
	outline: none !important; /* stylelint-disable declaration-no-important */
}

section {
	font-size: var(--font-size);
}

#import-modal {
	max-width: 100%;
	width: 400px;
}

.modal__header {
	color: var(--primary);
	padding-bottom: 12px;
}

.modal__footer {
	padding-top: 12px;
	text-align: right;
}

.loading {
	align-items: center;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: spin;
	animation-timing-function: linear;
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: 4;

	path {
		fill: var(--primary);
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.error {
	color: var(--danger);
	font-weight: bold;
}

h1 {
	font-size: 28px;
	font-weight: normal;
}

h1,
ol,
p {
	margin-bottom: 0;
	margin-top: 32px;
}

a {
	color: var(--primary);

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

input {
	background: var(--gray);
	border: 0;
	color: var(--white);
	padding: 8px;

	&[readonly] {
		background: transparent;
	}

	&:not([size]) {
		width: 100%;
	}
}

input[type='file'] {
	color: var(--white);
}

#secondary-controls {
	align-items: center;
	display: flex;
}

::selection {
	background: hsl(from var(--focus-color) h s l / 25%);
}

.fields {
	display: flex;
	flex-direction: column;
}

.field {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 4px;
}

.field__label-wrapper {
	width: 140px;
}

.field__label {
	cursor: pointer;
	display: block;
	margin-right: 8px;
	text-align: right;
}

.field__input-wrapper {
	flex: 1 1 auto;
}
