.rating-cell {
	display: flex;
}

.rating {
	height: var(--rating-size);
	position: relative;
	width: var(--rating-size);
}

.rating__svg {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;

	path {
		fill: var(--medium-gray);
	}

	.active & {
		path {
			fill: var(--primary);
		}
	}
}

.rating__input {
	appearance: none;
	background: transparent;
	cursor: pointer;
	height: var(--rating-size);
	margin: 0;
	width: var(--rating-size);
}

#field__input-wrapper--rating {
	display: flex;
}
