@import './node_modules/normalize.css/normalize';
@import 'utilities/variables';

body {
	background: $black;
	color: $white;
	font-family: sans-serif;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

article {
	overflow: auto;
}

button {
	appearance: none;
	background: transparent;
	border: 0;
	color: $white;
	cursor: pointer;
	font-size: $font-size;
	line-height: 1;
	margin: 0;
	padding: 16px;

	&[disabled] {
		cursor: auto;
		opacity: .5;
	}
}

/*
input {
	border: 0;
	color: $white;
	background: transparent;
	font-size: 24px;
	padding: 16px;
	line-height: 1;
	width: 100%;
}
*/

input[type="checkbox"] {
	appearance: none;
	background-color: $dark-gray;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	cursor: pointer;
	height: 28px;
	width: 28px;

	&:checked {
		background-image: url('/assets/img/check.svg');
	}
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0;
	height: 28px;
	margin: 8px;
	padding: 0;
	width: 28px;

	path {
		fill: $off-white;
	}

	&:active,
	&:focus {
		path {
			fill: $white;
		}
	}
}

.icon--large {
	height: 48px;
	width: 48px;
}

.icon--small {
	height: 16px;
	width: 16px;
}

.active {
	path {
		fill: $primary;
	}

	&:active,
	&:focus {
		path {
			fill: scale-color($primary, $lightness: 15%);
		}
	}
}

.dimmed {
	path {
		opacity: .15;
	}
}

:focus {
	box-shadow: 0 0 0 4px $focus-color;
	outline: none !important; // stylelint-disable declaration-no-important
}

section {
	font-size: $font-size;
}

.modal-bg {
	align-items: center;
	background: rgba($black, .5);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.modal {
	background: $dark-gray;
	max-width: 400px;
	padding: 32px;
	position: relative;
	width: 100%;

	h1:first-of-type {
		margin-top: 0;
	}
}

.button--primary {
	background: $primary;
	width: 100%;
}

.loading {
	align-items: center;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: spin;
	animation-timing-function: linear;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;

	path {
		fill: $primary;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.error {
	color: $danger;
	font-weight: bold;
}

h1 {
	font-size: 28px;
	font-weight: normal;
}

#close {
	position: absolute;
	right: 16px;
	top: 16px;
}

h1,
ol,
p {
	margin-bottom: 0;
	margin-top: 32px;
}

a {
	color: $primary;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
