[
	{
		"id": 47,
		"title": "Lucy in the Sky with Diamonds",
		"artist": "William Shatner",
		"album": "The Transformed Man",
		"year": 1968,
		"genre": "Novelty",
		"rating": 40,
		"last_played": "2020-06-14T18:03:24Z",
		"date_added": "2006-03-25T00:11:35Z",
		"checked": true
	}
]
